runmode: debug
addr: :8080
name: apiserver
url: http://127.0.0.1:8080
max_ping_count: 10
db:
  name: db_apiserver
  host: 127.0.0.1
log:
  #JSONFormatter: false
  #Logfile: false
  #Loglevel: debug
  writers: file,stdout
  logger_level: DEBUG
  logger_file: log/apiserver.log
  log_format_text: true
  rollingPolicy: size
  log_rotate_date: 1
  log_rotate_size: 1
  log_backup_count: 7
db:
  name: db_apiserver
  addr: 127.0.0.1:3306
  username: root
  password: RW10086open123.
  gormlog: true
docker_db:
  name: db_apiserver
  addr: 127.0.0.1:3306
  username: root
  password: RW10086open123.
